@import '../../../styles/variables';
@import '../../../styles/mixins';

.header {
  padding: 20px; // Use px for padding
  background-color: $primary-color;
  color: $text-light;
  @include flex-center(row, space-between, center);

  .logo {
    font-size: 24px; // Use px for font size
    font-weight: bold;
  }

  .nav-links {
    @include flex-center(row);
    gap: 10px; // Use px for gap

    a {
      color: $text-light;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
