@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.product-detail {
  max-width: 800px;
  margin: 20px auto; 
  text-align: center;

  img {
    width: 30%;
    height: auto;
    margin-bottom: 20px; 
  }

  h1 {
    font-size: 32px;
    margin-bottom: 10px;
    color: $primary-color;
  }

  p {
    font-size: 16px;
    margin-bottom: 20px; 
    color: $text-dark;
  }

  h3 {
    font-size: 20px;
    color: $secondary-color;
  }

  a {
    @include button-style($primary-color, $text-light);
  }
}
