@import './styles/_variables';
@import './styles/_mixins';
@import './styles/_functions';
@import './styles/_themes';

body {
  font-family: $font-family;
  margin: 0;
  padding: 0;
  background-color: map-get($light-theme, background-color);
  color: map-get($light-theme, text-color);
  overflow-x: hidden;

  &.light-mode {
    @include apply-theme($light-theme);  // Light theme
  }

  &.dark-mode {
    @include apply-theme($dark-theme);  // Dark theme
  }
}

/* Default to light mode */
body {
  @include apply-theme($light-theme);
}
